.info{
    width:100%;
}
.cover-pic img{
    width:100%;
}
.info-detail{
   background: #fff;; 
   display: flex;
   justify-content: space-between;
}
.information{
    display:flex;
    justify-content: space-between;
}
.text-details {
    display: flex;
    justify-content: space-between;
}
.text{
    display: flex;

}
.text img{
    width: 100%;
}